<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body ng-app="BlankApp" ng-cloak>
  <!--
    Your HTML content here
  -->

  <div id="wrapper" ng-controller="AppCtrl">

    <md-toolbar class="md-toolbar-tools md-whiteframe-4dp">
      <md-button class="md-icon-button" ng-click="toggleNav()">
        <md-icon>menu</md-icon>
      </md-button>
      <h1>App Title</h1>
    </md-toolbar>
    
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp"
      md-component-id="left">
      
    </md-sidenav>
    
    <div id="container" layout="column">
      <div id="top" layout="row" flex="70">
        <div flex="33">
          <md-card>
            <md-card-header>
              <md-card-header-text>
                <md-headline>Lineup</md-headline>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <md-list>
                <md-list-item>
                  <p>party</p>
                  <md-button class="md-icon-button md-secondary md-warn">
                    <md-icon>close</md-icon>
                  </md-button>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                  <p>another</p>
                  <md-button class="md-icon-button md-secondary md-warn">
                    <md-icon>close</md-icon>
                  </md-button>
                </md-list-item>
              </md-list>
            </md-card-content>
            <md-card-actions>
              <md-input-container>
                <label for="">Number of People</label>
                <input type="number">
              </md-input-container>
              <md-input-container>
                <label>Party Name</label>
                <input type="text">
              </md-input-container>
              <md-button class="md-raised md-accent md-secondary">New Party</md-button>
            </md-card-actions>
          </md-card>
        </div>
        <!-- tables -->
        <div id="dining" layout="row" layout-wrap flex="66">
          <div flex="50" ng-repeat="index in [1,2,3,4,5,6]">
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <md-headline>Table {{ index }}</md-headline>
                </md-card-header-text>
              </md-card-header>
              <md-card-content>
                
              </md-card-content>
            </md-card>
          </div>
        </div>
      </div>
      <div id="bottom" layout="row" flex="30">
        <div flex="50">
          <md-card>
            <md-card-header>
              <md-card-header-text>
                <md-headline>Orders</md-headline>
              </md-card-header-text>
            </md-card-header>
            <md-card-content></md-card-content>
          </md-card>
        </div>
        <div flex="50">
          <md-card>
            <md-card-header>
              <md-card-header-text>
                <md-headline>Inventory</md-headline>
              </md-card-header-text>
            </md-card-header>
            <md-card-content></md-card-content>
          </md-card>
        </div>
      </div>
    </div>

  </div>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    /* global angular */
    angular.module('BlankApp', ['ngMaterial'])
      .config(($mdThemingProvider) => {
        $mdThemingProvider.theme('default')
          .primaryPalette('teal')
          .accentPalette('purple');
      })
      .controller('AppCtrl',($scope, $mdSidenav) => {
        $scope.toggleNav = function() { $mdSidenav('left').toggle(); };
      });
  </script>
  
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->