html, body {
  font-size: 14px;
}

#wrapper {
  background-color: whitesmoke;
  height: 100%;
}

#container {
  height: calc( 100% - 64px);
}

/*
#top {
  background-color: lightcoral;
  margin: 4px;
}

#bottom {
  background-color: lightgreen;
  margin: 0 4px 4px 0;
}
*/

#dining {
  overflow-y: auto;
}

#dining md-card {
  min-height: 200px;
}

.md-button {
  text-transform: none;
}

#lineup md-card-actions>div {
  display: table-row;
}

#lineup md-card-actions>div * {
  display: table-cell;
}